<%= render :partial => 'links/header' %>
<h2><%= l('links') %></h2>
<table id="custom_menu_links" class="list">
<thead>
    <tr>
        <th><%= l('name') %></th>
        <th><%= l('url') %></th>
        <th></th>
    </tr>
</thead>
<tbody>
<% @links.each do |link| %>
	<tr class="<%= cycle('odd', 'even') %>">
		<td class="name"><%= link.name %></td>
		<td class="url"><%= link.url %></td>
		<td class="buttons"><%= link_to l('custom_menu.edit'), { :controller => 'links', :action => 'edit', :id => link.id }, :class => 'icon icon-edit' %><%= link_to l('custom_menu.delete'), { :controller => 'links', :action => 'destroy', :id => link.id }, :confirm => l('custom_menu.sure'), :method => :delete, :class => 'icon icon-del' %></td>
	</tr>
<% end %>
<tbody>
</table>
